@keyframes text_up {
  0% {
    opacity: 0;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes rocket {
  0% {
    left: -120%;
    top: 50%;
    transform: rotateZ(0);
  }

  100% {
    left: 100%;
    transform: rotateZ(360deg);
  }
}
@keyframes loop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
